pydantic
pdfplumber
streamlit
python-dotenv
pandas
openai
tiktoken
langchain
langchain-openai
langchain-chroma
langchain-community
langgraph
chromadb
matplotlib
numpy
ragas
datasets
ipython
jupyter
nbformat
